<!-- wrapper -->
<div class="container grid grid-cols-12 items-start gap-6 pt-4 pb-16">
    <%= render "shared/profile_info" %>
    <!-- info -->
    <div class="col-span-9 shadow rounded px-6 pt-5 pb-7">
        <h4 class="text-lg font-medium capitalize mb-4">
            Profile information
        </h4>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: { turbo: false }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="flex flex-col gap-3">
              <div>
                <%= f.label :name %>
                <%= f.text_field :name, autocomplete: "name", class: 'input-box' %>
              </div>
              <div>
                <%= f.label :email %>
                <%= f.email_field :email, autocomplete: "email", class: 'input-box' %>
              </div>
          </div>
          <div class="mt-4 text-center">
              <%= f.submit "Submit Changes", class: "cursor-pointer w-auto text-center py-3 px-4 text-center text-white bg-primary border border-primary rounded-md hover:bg-transparent hover:text-primary transition font-medium" %>
          </div>
        <% end %>

    </div>
    <!-- ./info -->

</div>
<!-- ./wrapper -->