<aside class="sidebar col-span-1 bg-white px-2 pb-6 shadow rounded overflow-hidden hidden md:block">
  <div class="divide-y divide-gray-200 space-y-5">
    <%= search_form_for @query, url: products_path, method: :get, data: { controller: 'filter', turbo_stream: 'true', turbo_frame: 'products' } do |f| %>

      <!-- Categories -->
      <div>
        <h3 class="section-title text-xl text-gray-800 mb-3 uppercase font-medium">Categories</h3>
        <div class="category-list space-y-2">
          <div class="category-item">
            <% Category.all.each do |category| %>
              <div>
                <%= f.check_box :category_id_in,
                  {
                    multiple: true, class: "product_category category-checkbox-filters",
                    checked: category_selected?(params[:query], category.id),
                    data: { 'filter-target' => 'checkbox', action: 'change->filter#toggle' },
                  },
                  category.id,
                  nil
                %>
                <%= f.label "category_id_in_#{category.id}", class: "category-label text-gray-600 ml-3 cursor-pointer" do %>
                  <%= category.name.capitalize %>
                  (<%= category.products.count %>)
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <!-- Price Range -->
      <div class="pt-4">
        <h3 class="section-title text-xl text-gray-800 mb-3 uppercase font-medium">Price</h3>
        <div class="price-range mt-4 flex items-center">
          <%= f.number_field :price_gteq, min: 0, class: "price-input w-full border-gray-300 focus:border-primary rounded focus:ring-0 px-3 py-1 text-gray-600 shadow-sm", placeholder: 'min', data: { action: 'input->filter#range', 'filter-target' => 'input' } %>
          <span class="price-separator mx-3 text-gray-500">-</span>
          <%= f.number_field :price_lteq, min: 0, class: "price-input w-full border-gray-300 focus:border-primary rounded focus:ring-0 px-3 py-1 text-gray-600 shadow-sm", placeholder: 'max', data: { action: 'input->filter#range', 'filter-target' => 'input' } %>
        </div>
      </div>

      <!-- Sort By -->
      <div class="pt-4">
        <h3 class="section-title text-xl text-gray-800 mb-3 uppercase font-medium">
          <%= f.label :s, t('Sort By') %>
        </h3>
        <div class="sort-by flex items-center mb-4">
          <%= f.select :s, options_for_select(sort_product_option_list, params.dig(:query, :s)),
            {},
            {
              data: { action: 'change->filter#update', filter_target: 'select' },
              class: 'sort-select bg-gray-100 border-none focus:ring-gray-400 ring-inset'
            }
          %>
        </div>
      </div>
    <% end %>
  </div>
</aside>
<!-- ./sidebar -->
