<%= turbo_stream.update dom_id(current_user_cart, "summary") do %>
  <%= render 'cart_summary', cart: current_user_cart %>
<% end %>

<%= turbo_stream.update dom_id(current_user, "cart_items_count") do %>
  <% if current_user_cart.cart_items.count > 0 %>
    <div class="absolute -right-3 -top-1 w-5 h-5 rounded-full flex items-center justify-center bg-primary text-white text-xs">
      <%= current_user_cart.cart_items.sum(:quantity) %>
    </div>
  <% end %>
<% end %>

<%= turbo_stream.update dom_id(@cart_item, "cart") do %>
  <%= render 'cart_item', cart_item: @cart_item %>
<% end %>